/* line 1, ../project-3/SASS/style.sass */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, ../project-3/SASS/style.sass */
html {
  font-size: 62.5%;
}

/* line 9, ../project-3/SASS/style.sass */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: .2rem;
  padding: 5rem;
  background-color: white;
}

/* line 18, ../project-3/SASS/style.sass */
.container {
  background-color: #F7F7F7;
}

/* line 21, ../project-3/SASS/style.sass */
.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/header-background.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

/* line 26, ../project-3/SASS/style.sass */
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  width: 5.6rem;
  height: 7rem;
}

/* line 32, ../project-3/SASS/style.sass */
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

/* line 39, ../project-3/SASS/style.sass */
.title-first {
  color: #FFFFFF;
  font-family: "Roboto";
}

/* line 42, ../project-3/SASS/style.sass */
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}

/* line 55, ../project-3/SASS/style.sass */
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .5rem;
  animation-name: rightToLeft;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  margin-bottom: 5rem;
}

/* line 70, ../project-3/SASS/style.sass */
.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: grey;
  padding: 1.5rem 4rem;
  background: white;
  border-radius: 5rem;
  transition: 1s;
  position: relative;
  font-size: 2rem;
}

/* line 81, ../project-3/SASS/style.sass */
.btn_animated {
  animation-name: bottomToTop;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

/* line 88, ../project-3/SASS/style.sass */
.btn:hover {
  transform: translateY(-4px);
}

/* line 91, ../project-3/SASS/style.sass */
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}

/* line 94, ../project-3/SASS/style.sass */
.btn:active {
  transform: translateY(-2px);
}

/* line 97, ../project-3/SASS/style.sass */
.btn::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */